__pycache__
.DS_Store
.vscode/
.idea/
*.tar.gz
*.zip
*.pkl
*.py[cod]
*.pth
*.pt
*.ckpt
*.safetensors
tmpRun*

result
results
results/
logs/
tmp/
cifar10_data/
hf/
train2017/
annotations/
test_badt2i
test_patch
test_db
test_ti
test_TPA
test_eviledit
datasets
classifiers